
<h2>Create a Course</h2>
<form action="/createCourse" method="POST">

  <div>
    <label class="form-label">
      Course ID:
      <input class="form-control" type="text" name="courseID" />
    </label>
  </div>
  
  <div>
    <label class="form-label">
      Course Name:
      <input class="form-control" type="text" name="courseName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Car Type:
      <input class="form-control" type="text" name="carType" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Start time:
      <input class="form-control" type="text" name="startTime" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Duration:
      <input class="form-control" type="text" name="duration" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Capacity:
      <input class="form-control" type="number" name="capacity" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Coach First Name:
      <input class="form-control" type="text" name=firstName />
    </label>
  </div>

  <div>
    <label class="form-label">
      Coach Last Name:
      <input class="form-control" type="text" name=lastName />
    </label>
  </div>


  <button class="btn btn-primary" type="submit">Create</button>
</form>
